<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="search">
                <conf name="booleanSearchMaxLength">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>3</defaultvalue>
                </conf>
            </section>
        </config>

        <window name="quiqqer-search-settings">
            <title>
                <locale group="quiqqer/search" var="quiqqer.search.globale.settings.title"/>
            </title>
            <params>
                <icon>fa fa-search</icon>
            </params>

            <categories>
                <category name="quiqqer_search">
                    <text>
                        <locale group="quiqqer/search" var="quiqqer.search.globale.settings.title"/>
                    </text>
                    <icon>fa fa-search</icon>

                    <settings title="quiqqer_search" name="quiqqer_search">
                        <title>
                            <locale group="quiqqer/search" var="quiqqer.search.globale.settings.title"/>
                        </title>

                        <input conf="search.booleanSearchMaxLength">
                            <text>
                                <locale group="quiqqer/search" var="quiqqer.search.globale.settings.booleanSearchMaxLength.text"/>
                            </text>
                            <description>
                                <locale group="quiqqer/search" var="quiqqer.search.globale.settings.booleanSearchMaxLength.description"/>
                            </description>
                        </input>
                    </settings>
                </category>
            </categories>
        </window>

    </settings>

    <project>

        <settings>
            <config>
                <section name="quiqqer_search_settings">
                    <!-- general settings -->
                    <conf name="defaultSearchSite">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="quiqqerSearch">
                        <text>
                            <locale group="quiqqer/search"
                                    var="project.settings.category.quiqqerSearch.title"
                            />
                        </text>

                        <icon>fa fa-search</icon>

                        <settings title="templatePackageStore.settings"
                                  name="templatePackageStore.settings.general">
                            <title>
                                <locale group="quiqqer/search"
                                        var="templatePackageStore.settings.general.title"
                                />
                            </title>

                            <input conf="quiqqer_search_settings.defaultSearchSite" data-qui="controls/lang/InputMultiLang">
                                <text>
                                    <locale group="quiqqer/search" var="quiqqer.search.globale.settings.defaultSearchSite.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/search" var="quiqqer.search.globale.settings.defaultSearchSite.description"/>
                                </description>
                            </input>

                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

    </project>
</quiqqer>