{assign var=Placeholder value=$Project->getMedia()->getPlaceholderImage()}

{if $this->getAttribute('showTitle') && $this->getAttribute('frontendTitle')}
<header class="control-header">
    <h1>{$this->getAttribute('frontendTitle')}</h1>
</header>
{/if}

{if $this->getAttribute('content') != ""}
<div class="control-content">
    {$this->getAttribute('content')}
</div>
{/if}

<section itemscope itemtype="{$this->getAttribute('itemtype')}"
         class="qui-control-childrenlist-default control-template"
>
    <link property="mainEntityOfPage" href="{url site=$Site}">

    {assign var=counter value=1}

    {foreach from=$children item=Child}
    {assign var=_Child value=$Child->load()}
    <article itemscope
             itemprop="itemListElement"
             itemtype="{$this->getAttribute('child-itemtype')}"
             class="qui-control-childrenlist-default-entry"
    >
        <meta itemprop="position" content="{$counter}"/>
        {assign var=counter value=$counter+1}

        <!-- entry image -->

        {assign var=noImageClass value="
        qui-control-childrenlist-default-entry-short-noImage"}
        {assign var=noShortClass value="
        qui-control-childrenlist-default-entry-image-noShort"}

        {if $this->getAttribute('showImages')}
        {assign var=noImageClass value=""}
        {/if}

        {if $this->getAttribute('showShort')}
        {assign var=noShortClass value=""}
        {/if}

        {if $this->getAttribute('showImages')}
        <div class="qui-control-childrenlist-default-entry-image grid-40 grid-container">
            <a itemprop="url" href="{url site=$Child}">

                {if $Child->getAttribute('image_site')}
                {image src=$Child->getAttribute('image_site') width="500"
                type="resize"}
                {else}
                <img itemprop="qui-control-childrenlist-default-entry-image-img"
                     src="{$Child->getProject()->getMedia()->getPlaceholder()}"
                     class="list-image"/>
                {/if}
            </a>
        </div>
        {/if}

        <!-- entry content -->
        <div class="qui-control-childrenlist-default-entry-content
                    {if !$noImageClass}grid-60{/if} grid-container {$noImageClass}">

            {if $this->getAttribute('showHeader')}
            <header>
                <h1 itemprop="name">
                    <a itemprop="url" href="{url site=$Child}"
                       class="qui-control-childrenlist-default-entry-content-headerLink">
                        {$Child->getAttribute('title')}
                    </a>
                </h1>
            </header>
            {/if}

            {if $this->getAttribute('showShort')}
            <div class="qui-control-childrenlist-default-entry-content-short{$noImageClass}">
                {$Child->getAttribute('short')|nl2br}
            </div>
            {/if}

            <div class="qui-control-childrenlist-default-entry-content-footer"
                 {if !$this->getAttribute('showCreator') &&
                !$this->getAttribute('showDate') &&
                !$this->getAttribute('showDate')}
                style="border-bottom: none; border-top: none;"
                {/if}>
                {if $this->getAttribute('showCreator') ||
                $this->getAttribute('showDate') ||
                $this->getAttribute('showTime')}
                <div class="qui-control-childrenlist-default-entry-content-footer-wrapper">

                    {if $this->getAttribute('showCreator')}
                    <span class="qui-control-childrenlist-default-entry-content-footer-author">
                        {user id=$Child->getAttribute('c_user') var=User}
                        <span class="fa fa-user"></span>
                        {if $User->getId() && $User->getAttribute('firstname')}
                            {$User->getAttribute('firstname')}
                        {else if $User->getId()}
                            {$User->getname()}
                        {/if}
                    </span>
                    {/if}

                    {if $this->getAttribute('showDate')}
                    <span class="qui-control-childrenlist-default-entry-content-footer-date">
                        {if $Child->getAttribute('release_from') &&
                        $Child->getAttribute('release_from') != '0000-00-00 00:00:00'}
                            <span class="fa fa-calendar"></span>
                            <time datetime="{$Child->getAttribute('release_from')|date_format:"
                                  c"}"
                            itemprop="datePublished">
                                {locale_date date=$Child->getAttribute('release_from')}
                        </time>
                        {else}
                            <time datetime="{$Child->getAttribute('c_date')|date_format:"
                                  c"}"
                            itemprop="datePublished"
                            >
                                {locale_date date=$Child->getAttribute('c_date')}
                        </time>
                        {/if}
                    </span>
                    {/if}

                    {if $this->getAttribute('showTime')}
                    <span class="qui-control-childrenlist-default-entry-content-footer-time">
                            <span class="fa fa-clock-o"></span>
                            {$Child->getAttribute('release_from')|date_format:"%H:%M"}
                        </span>
                    {/if}

                    {if $this->getAttribute('showRelevance')}
                    <span class="qui-control-childrenlist-default-entry-content-footer-relevance">
                        <span class="fa fa-percent"></span>
                        {$Child->getAttribute('search-relevance')}
                    </span>
                    {/if}
                </div>
                {/if}

                <a itemprop="url" href="{url site=$Child}"
                   class="button qui-control-childrenlist-default-entry-content-footer-link">
                    {locale group="quiqqer/sitetypes" value="list.more"}
                </a>
            </div>

        </div>

    </article>

    {/foreach}
</section>

{if $this->getAttribute('showSheets')}
{$Pagination->create()}
{/if}